@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Noto+Serif+KR&display=swap');

@media (max-width:800px) {

  body{
    font-family: 'Noto Serif KR', serif;
  }
  
  .indexmain {
    display: grid;
    grid-template-columns: 1fr;
    font-size:12px;
  }
  
  .index {
    border: solid 1px black;
    padding: 1.3px;
    margin: 2.5px;
    background-color:lightyellow;
  }
  
  .main {
    border: solid 1px black;
    padding-left: 5px;
    padding-top: 1.3px;
    margin: 2.5px;
  }
  
  h1 {
    font-size: 17px;
    text-align: center;
    border-style: solid;
    border-width: 1.3px;
    background-color:antiquewhite ;
    padding : 5px;
  }
  
  .hyperlink{
    text-decoration: none;
    color:darkcyan;
  }
  
  th, td{border:1px solid black;}

}